*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ececec;
    font-family:Arial,sans-serif;
}


/* HEADER */

.navbar{

    background:#061B47;

    height:60px;

    padding:0 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-img{
    width:55px;
}

.nav-links{
    display:flex;
    gap:15px;
    list-style:none;
    margin:0;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:11px;
    font-weight:600;

    transition:0.3s ease;
}

/* hover kék árnyalat */

.nav-links a:hover{
    color:#5EA2FF;
}



/* TARTALOM */

.about-container{

    max-width:700px;

    margin:35px auto;

    padding:40px;

    background:#d8deea;

    border-radius:20px;

    text-align:center;
}

.about-container h1{
    font-size:22px;
    font-weight:700;
    margin-bottom:20px;
}

.intro{
    font-size:14px;
    font-weight:600;
    line-height:1.6;
}

.about-container h4{
    font-size:18px;
}

.about-container ul{
    display:inline-block;
    text-align:left;
    margin-top:15px;
}

.bottom-line{
    margin-top:40px;
}

.bottom-text{
    margin-top:20px;
    font-weight:700;
}


/* FOOTER */

.footer{

    background:#061B47;
    color:white;

    min-height:130px;
}

.footer p{
    font-size:10px;
    margin-bottom:8px;
}

.footer a{
    color:white;
    text-decoration:none;
}

.footer a:hover{
    color:#5EA2FF;
}

.social-icons p{
    margin-bottom:10px;
}

.social-icons i{
    margin-right:8px;
    font-size:18px;
}
